﻿<div class="row">
    <div class="col-lg-12 text-center">
        <img src="http://placehold.it/500x350">
    </div>
</div>
<div class="well">
    <div class="row">
        <div class="col-sm-2"><strong>Código</strong>
        </div>
        <div class="col-sm-3"><span data-bind="text: propiedad().codigo"></span>
        </div>
        <div class="col-sm-3"><strong>Capacidad</strong>
        </div>
        <div class="col-sm-3"><span data-bind="text: propiedad().capacidad"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"><strong>Orientación</strong>
        </div>
        <div class="col-sm-9"><span data-bind="text: propiedad().orientacion"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"><strong>Valor</strong>
        </div>
        <div class="col-sm-3"><span data-bind="text: propiedad().valor, currency: {}"></span>
        </div>
        <div class="col-sm-3"><strong>Valor Periodo</strong>
        </div>
        <div class="col-sm-3"><span data-bind="text: propiedad().valorPeriodo, currency: {}"></span>
        </div>
    </div>
</div>
<div class="well">
    Acá van otros datos, pero por ahora no se me ocurre nada.
</div>
