@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pelícano">
    <meta name="author" content="Pelícano">

    <title>Pelicano</title>
    <!-- build:css -->
    <link href="~/Content/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/components-bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet">

    <link href="~/css/styles.css" rel="stylesheet">
    <!-- endbuild -->
    <!-- build:js -->
    <script src="~/app/require.config.js"></script>
    <script src="~/Content/requirejs/require.js"></script>
    <!-- endbuild -->
</head>

<body>
    <!-- ko if: false-->
    <!--<nav-bar params="route: route"></nav-bar>-->
    <!--<div id="page" class="container" data-bind="component: { name: route().page, params: route }"></div>-->
    <!-- /ko-->
    <div id="wrapper">
        <header-bar params="route: route"></header-bar>
        <div class="row">
            <div class="col-lg-9">
                <div id="page-wrapper">
                    <div class="container-fluid">
                        <!-- ko component: {
                                name: 'header-page',
                                params: route().heading
                            } -->
                        <!-- /ko-->
                        <!-- ko component: {
                                name: route().page,
                                params: route
                            } -->
                        <!-- /ko -->
                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- /#page-wrapper -->
            </div>
        </div>

    </div>
    <!-- /#wrapper -->

</body>

</html>
