<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                Propiedades disponibles entre <span data-bind="text: desde"></span> y <span data-bind="text: hasta"></span>
                para <span data-bind="text: capacidad"></span> personas.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th><i class="glyphicon glyphicon-envelope"></i></th>
                        <th>Capacidad</th>
                        <th>Orientación</th>
                        <th>Valor Día</th>
                        <th>Valor Período</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: propiedades">
                    <tr data-bind="click: $parent.detalle" class="pointer">
                        <td><span data-bind="text: codigo"></span>
                        </td>
                        <td><i class="glyphicon glyphicon-envelope" data-bind="visible: marcado"></i></td>
                        <td><span data-bind="text: capacidad"></span>
                        </td>
                        <td><span data-bind="text: orientacion"></span>
                        </td>
                        <td><span data-bind="text: valor, currency: {}"></span>
                        </td>
                        <td><span data-bind="text: valorPeriodo, currency: {}"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--
            <nav>
                <ul class="pagination">
                    <li><a href="#">&laquo;</a>
                    </li>
                    <li><a href="#">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>
                    <li><a href="#">4</a>
                    </li>
                    <li><a href="#">5</a>
                    </li>
                    <li><a href="#">&raquo;</a>
                    </li>
                </ul>
            </nav>
            -->
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" data-bind="modal:showDetalle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span>
                </button>
                <h4 class="modal-title">Detalle</h4>
            </div>
            <div class="modal-body">
                <propiedad-resumen params="{propiedad: propiedad}" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: addEmail"><i class="glyphicon glyphicon-envelope"></i>
                </button>
                <button type="button" class="btn btn-primary">Reservar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->