<div class="row">
    <div class="col-lg-12">
        <form role="form" class="form-horizontal well">
            <div class="form-group">
                <label for="desde" class="col-sm-2 control-label">Desde</label>
                <div class="col-sm-10">
                    <input type="text" data-bind="value: desde, datepicker: {}" class="form-control" id="desde" placeholder="Fecha Desde">
                </div>
            </div>
            <div class="form-group">
                <label for="hasta" class="col-sm-2 control-label">Hasta</label>
                <div class="col-sm-10">
                    <input type="text" data-bind="value: hasta, datepicker: {}" class="form-control" id="hasta" placeholder="Fecha Hasta">
                </div>
            </div>
            <div class="form-group">
                <label for="capacidad" class="col-sm-2 control-label">Capacidad</label>
                <div class="col-sm-10">
                    <input type="number" data-bind="value: capacidad" class="form-control" id="capacidad" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" data-bind="click: buscar" class="btn btn-default">Buscar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-12">
        <form role="form" class="form-horizontal well">
            <div class="form-group">
                <label for="codigo" class="col-sm-2 control-label">Código</label>
                <div class="col-sm-10">
                    <input type="number" data-bind="value: codigo" class="form-control" id="codigo" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" data-bind="click: buscarCodigo" class="btn btn-default">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>
