<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li data-bind="css: { active: route().group === 'home' }">
            <a href="#/home">
                <i class="fa fa-fw fa-dashboard"></i> Dashbboard
            </a>
        </li>
        <li data-bind="css: { active: route().group === 'buscar' }">
            <a href="#/buscar">
                <i class="fa fa-fw fa-search"></i> Buscar
            </a>
        </li>
        <li class="divider"></li>
        <li data-bind="css: { active: route().group === 'propiedad-ingresar' }">
            <a href="#/propiedades/ingresar">
                <i class="fa fa-fw fa-search"></i> Ingresar Propiedad
            </a>
        </li>
        <li data-bind="css: { active: route().group === 'cliente-ingresar' }">
            <a href="#/clientes/ingresar">
                <i class="fa fa-fw fa-search"></i> Ingresar Cliente
            </a>
        </li>
        <!--
        <li>
            <a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>
        </li>
        <li>
            <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
        </li>
        <li>
            <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
        </li>
        <li>
            <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
                <li>
                    <a href="#">Dropdown Item</a>
                </li>
                <li>
                    <a href="#">Dropdown Item</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
        </li>
-->
    </ul>
</div>
<!-- /.navbar-collapse -->