<div class="row">
    <div class="col-lg-12">
        <form role="form" class="form-horizontal well">
            <div class="form-group">
                <label for="rut" class="col-sm-3 control-label">Rut Cliente</label>
                <div class="col-sm-6">
                    <input type="text" data-bind="value: cliente.rut, mask: 'k-999.999.99'" class="form-control" id="rut" placeholder="12.345.678-9">
                </div>
                <div class="col-sm-3">
                    <button type="submit" data-bind="click: buscarCliente" class="btn btn-default">Buscar</button>
                </div>
            </div>
        </form>
        <div class="alert alert-info" role="alert" data-bind="visible: mostrarAlert">
            No existe el cliente, debe ingresarlo
        </div>
        <div class="alert alert-info" role="alert" data-bind="visible: mostrarInfoCreado">
            Cliente ha sido guardado
        </div>
        <form role="form" class="form-horizontal well" data-bind="visible: mostrarDetalle">
            <fieldset>
                <div class="form-group">
                    <label for="nombres" class="col-sm-2 control-label">Nombres</label>
                    <div class="col-sm-10 col-md-4">
                        <input type="text" data-bind="value: cliente.nombres" class="form-control" id="nombres" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="app" class="col-sm-2 control-label no-padding-top">Apellido Paterno</label>
                    <div class="col-sm-4">
                        <input type="text" data-bind="value: cliente.app" class="form-control" id="app" placeholder="">
                    </div>
                    <label for="apm" class="col-sm-2 control-label no-padding-top">Apellido Materno</label>
                    <div class="col-sm-4">
                        <input type="text" data-bind="value: cliente.apm" class="form-control" id="apm" placeholder="">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label for="telefono" class="col-sm-2 control-label no-padding-top">Teléfono</label>
                    <div class="col-sm-4">
                        <input type="text" data-bind="value: cliente.telefono" class="form-control" id="telefono" placeholder="">
                    </div>
                    <label for="celular" class="col-sm-2 control-label no-padding-top">Celular</label>
                    <div class="col-sm-4">
                        <input type="text" data-bind="value: cliente.celular" class="form-control" id="celular" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10 col-md-4">
                        <input type="email" data-bind="value: cliente.email" class="form-control" id="email" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="direccion" class="col-sm-2 control-label">Dirección</label>
                    <div class="col-md-10">
                        <input type="text" data-bind="value: cliente.direccion" class="form-control" id="direccion" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="submit" data-bind="click: guardar" class="btn btn-primary">Guardar</button>
                        <button type="submit" data-bind="click: cancelar" class="btn btn-default">Cancelar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <!--
    <div class="col-lg-12">
        <form role="form" class="form-horizontal well">
            <div class="form-group">
                <label for="codigo" class="col-sm-2 control-label">Código</label>
                <div class="col-sm-10">
                    <input type="number" data-bind="value: codigo" class="form-control" id="codigo" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" data-bind="click: buscarCodigo" class="btn btn-default">Buscar</button>
                </div>
            </div>
        </form>
    </div>
        -->
</div>
