<div class="row">
    <div class="col-lg-12">
        <form role="form" class="form-horizontal well">
            <div class="form-group">
                <label for="rut" class="col-sm-3 control-label">Rut Cliente</label>
                <div class="col-sm-6">
                    <input type="text" data-bind="value: cliente.rut" class="form-control" id="rut" placeholder="12.345.678-9">
                </div>
                <div class="col-sm-3">
                    <button type="submit" data-bind="click: buscarCliente" class="btn btn-default">Buscar</button>
                </div>
            </div>
        </form>
        <div class="alert alert-info" role="alert" data-bind="visible: mostrarAlert">
            No existe el cliente, debe ingresarlo
        </div>
        <form role="form" class="form-horizontal well">
            <div class="form-group">
                <label for="hasta" class="col-sm-2 control-label">Hasta</label>
                <div class="col-sm-10">
                    <input type="text" data-bind="value: hasta, datepicker: {}" class="form-control" id="hasta" placeholder="Fecha Hasta">
                </div>
            </div>
            <div class="form-group">
                <label for="capacidad" class="col-sm-2 control-label">Capacidad</label>
                <div class="col-sm-10">
                    <input type="number" data-bind="value: capacidad" class="form-control" id="capacidad" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" data-bind="click: buscar" class="btn btn-default">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>
