<!-- ko if: title-->

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <span data-bind="text: title"></span>
            <small data-bind="text: subtitle">Subheading</small>
        </h1>
        <!--
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Blank Page
            </li>
        </ol>
        -->
    </div>
</div>
<!-- /ko-->